{% extends "bases/base_home.html" %}
{% block content %}
        <div style="height: 388px; width: 100%;">
            <div class="container-fluid about-bg-img"></div>
            <div class="container-fluid home-bg-text text-center">
              <h1 class="home-title" style="color:#eceae5;">ABOUT ME</h1>
            </div>
        </div>
        <div style="height: 100px">
            <div class="ribbon" style="background-color: #5a7876; top: 469px;"></div>
            <div class="ribbon" style="background-color: #acccc6; top: 519px;"></div>
        </div>
  <div style="background-color: #2c2c2c; display: table; margin-left: auto; margin-right: auto; width: 60rem;">
    <ul class="timeline">
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">In The Beginning</h3>
            <p class="text-muted" style="color: antiquewhite">February 2013</p>
          </div>
          <div class="timeline-body">
            <p>At the young age of 9, Tom creates his first YouTube channel, Channelnutpig.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">Dawn of the Twitch Streamer</h3>
            <p class="text-muted" style="color: antiquewhite">September 2018</p>
          </div>
          <div class="timeline-body">
            <p>Tom begins his Twitch career by regularly streaming games like PUBG, Fortnite, and Minecraft Hypixel.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">Taking The First Steps</h3>
            <p class="text-muted" style="color: antiquewhite">Early 2019</p>
          </div>
          <div class="timeline-body">
            <p>With aide of his energetic personality, Tom becomes an affiliate with Twitch. 
              Soon after, he begins to gain traction on his Tommyinnit YouTube channel as he posts Hypixel Skyblock videos.</p>          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">Joining the Community</h3>
            <p class="text-muted" style="color: antiquewhite">November 2019</p>
          </div>
          <div class="timeline-body">
            <p>Tom joins EarthSMP, a Minecraft multiplayer server full of popular Minecraft streamers and YouTubers. 
              Here he is quick to make friends and "enemies" on his journey to become the (not very) profitable nation of Business Bay.</p>          
            </div>
        </div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">Breaking the Sound Barrier</h3>
            <p class="text-muted" style="color: antiquewhite">July 2020</p>
          </div>
          <div class="timeline-body">
            <p>The next few months are some of the biggest for Tom. Starting on July, he joins the DreamSMP, a Minecraft 
              multiplayer server populated by friends of the content creator Dream. With the aid of his partner in crime, 
              WilburSoot, the DreamSMP skyrockets in fame for its <i>Hamilton</i> inspired storyline. This is Tom's rise 
              in popularity gaining him over 4 million subscribers in the span of just 4 months.</p>          
            </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">Reaching the Top...</h3>
            <p class="text-muted" style="color: antiquewhite">January 2021</p>
          </div>
          <div class="timeline-body">
            <p>Streaming the finale of a storyline for the DreamSMP, Tom reaches peak viewership of over 650,000 viewers on Twitch,
              making the stream the third all time high of concurrent Twitch viewers on a stream.
            </p>          
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">...And Going Beyond</h3>
            <p class="text-muted" style="color: antiquewhite">July 2021</p>
          </div>
          <div class="timeline-body">
            <p>Just a year after his initial gain of a million subscribers on YouTube, Tom surpasses the 10 million mark. 
              His content has expanded from Minecraft videos and streams to also including vlogs of the adventures he has 
              with friends in the UK.
            </p>
            </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">In The Moment</h3>
            <p class="text-muted" style="color: antiquewhite" >Today</p>
          </div>
          <div class="timeline-body">
            <p>Today Tom has amassed over 11 million subscribers on his main YouTube channel and 7 million followers on Twitch.
              His bright and energetic personality has made him a favorite in his communities, and he continues to take joy in
              content creation.
            </p>         
          </div>
        </div>
      </li>
  </ul>
  </div>
    <div class="ribbon" style="background-color: #acccc6; position: inherit;"></div>
    <div class="ribbon" style="background-color: #5a7876; position: inherit;"></div>
{% endblock content %}