{% extends "bases/base_home.html" %}
{% block content %}
<body id="Content">
    <div style="height: 388px; width: 100%;">
        <div class="container-fluid content-bg-img"></div>
        <div class="container-fluid home-bg-text text-center">
          <h1 class="home-title" style="color:#FFF8C1;">CHANNELS</h1>
        </div>
    </div>
    <div style="height: 100px">
        <div class="ribbon" style="background-color: #5a7876; top: 469px;"></div>
        <div class="ribbon" style="background-color: #acccc6; top: 519px;"></div>
    </div>
    <div class="row" style="height:fit-content;">
        <div class="box-content">
            <div class="mt-5 mr-3 ml-5 inner-box">
                <img src="{{ url_for('static', filename='site_images/tommyinnit_pfp.jpg')}}" class="rounded-circle mt-3" style="filter: drop-shadow(0 0 0.75rem #2e2a39);">
                <h3 class="mt-1">TommyInnit</h3>
                <a href="https://www.youtube.com/c/TommyInnit" class="external-link">YouTube</a>
                <p class="m-2" style="font-size: 14px;">
                    "incredibly influential gamer"
                </p>
                <p class="ml-3 mr-3" style="padding-bottom: 10px;">
                    The main channel for Tommy's videos that has amassed
                    over 11 million subscribers. It mainly consists of 
                    Minecraft gameplay with his friends.  
                </p>
            </div>
        </div>
        <div class="box-content" style="position:absolute; left:33%;">
            <div class="mt-5 mr-3 ml-3 inner-box">
                <img src="{{ url_for('static', filename='site_images/tomsimons_pfp.jpg')}}" class="rounded-circle mt-3" style="filter: drop-shadow(0 0 0.75rem #2e2a39);">
                <h3 class="mt-1">Tom Simons</h3>
                <a href="https://www.youtube.com/c/TomSimonsVlog" class="external-link">YouTube</a>
                <p class="m-2" style="font-size: 14px;">
                    "the best vlog channel in the history of ever"
                </p>
                <p class="ml-3 mr-3" style="padding-bottom: 10px;">
                    A channel dedicated purely to Tom's vlogs. 
                    He and his friends document their hijinks as they 
                    go on daring adventures across the UK. 
                </p>
            </div>
        </div>
        <div class="box-content" style="position:absolute; left:66%;">
            <div class="mt-5 mr-4 ml-3 inner-box">
                <img src="{{ url_for('static', filename='site_images/tommyoutit_pfp.jpg')}}" class="rounded-circle mt-3" style="filter: drop-shadow(0 0 0.75rem #2e2a39);">
                <h3 class="mt-1">TommyOutit</h3>
                <a href="https://www.youtube.com/channel/UCgAyQyy6x3L-tmM1GICelGA" class="external-link">YouTube</a>
                <p class="m-2" style="font-size: 14px;">
                    "even more tommyinnit!"
                </p>
                <p class="ml-3 mr-3">
                </p>
                <p class="ml-3 mr-3" style="padding-bottom: 10px;">
                    A channel for videos that don't fit in the TommyInnit channel.
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="height:fit-content;">
        <div class="box-content">
            <div class="mt-5 mr-3 ml-5 inner-box">
                <img src="{{ url_for('static', filename='site_images/tommyvods_pfp.jpg')}}" class="rounded-circle mt-3" style="filter: drop-shadow(0 0 0.75rem #2e2a39);">
                <h3 class="mt-1">TommyVODS</h3>
                <a href="https://www.youtube.com/channel/UC9gVCa6ap-KDayMRPg5wjIg" class="external-link">YouTube</a>
                <p class="m-2" style="font-size: 14px;">
                    "where my full streams are archived & uploaded"
                </p>
                <p class="ml-3 mr-3" style="padding-bottom: 10px;">
                    This channel contains every Twitch stream from 
                    the TommyInnit Twitch channel. 
                </p>
            </div>
        </div>
        <div class="box-content" style="position:absolute; left:33%;">
            <div class="mt-5 mr-3 ml-3 inner-box">
                <img src="{{ url_for('static', filename='site_images/tommyinnit_pfp.jpg')}}" class="rounded-circle mt-3" style="filter: drop-shadow(0 0 0.75rem #2e2a39);">
                <h3 class="mt-1">@tommyinnit</h3>
                <a href="https://www.tiktok.com/@tommyinnit" class="external-link">TikTok</a>
                <p class="m-2" style="font-size: 14px;">
                    "incredibly influential tiktokker"
                </p>
                <p class="ml-3 mr-3" style="padding-bottom: 10px;">
                    A TikTok channel for short funny goofs and gafs.
                </p>
            </div>
        </div>
        <div class="box-content" style="position:absolute; left:66%;">
            <div class="mt-5 mr-4 ml-3 inner-box">
                <img src="{{ url_for('static', filename='site_images/channelnutpig_pfp.jpg')}}" class="rounded-circle mt-3" style="filter: drop-shadow(0 0 0.75rem #2e2a39);">
                <h3 class="mt-1">Channelnutpig</h3>
                <a href="https://www.youtube.com/c/channelnutpig" class="external-link">YouTube</a>
                <p class="m-2" style="font-size: 14px;">
                    "Most Channel's descriptions are boring! But this one isn't... oh wait... it is :("
                </p>
                <p class="ml-3 mr-3" style="padding-bottom: 10px;">
                    The original TommyInnit channel originating back in 2013.
                    It contains several of Tom's first videos.
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="height:fit-content;">
        <div class="box-content">
            <div class="mt-5 mr-3 ml-5 inner-box" style="left:33%;">
                <img src="{{ url_for('static', filename='site_images/tommyinnit_pfp.jpg')}}" class="rounded-circle mt-3" style="filter: drop-shadow(0 0 0.75rem #2e2a39);">
                <h3 class="mt-1">tommyinnit</h3>
                <a href="https://www.twitch.tv/tommyinnit" class="external-link">Twitch</a>
                <p class="m-2" style="font-size: 14px;">
                    "incredibly influential gamer"
                </p>
                <p class="ml-3 mr-3" style="padding-bottom: 10px;">
                    Tom's main Twitch channel consists of mainly Minecraft 
                    and Just Chatting content. 
                </p>
            </div>
        </div>
        <div class="box-content" style="position:absolute; left:33%;">
            <div class="mt-5 mr-3 ml-3 inner-box">
                <img src="{{ url_for('static', filename='site_images/tommyinnitalt_pfp.png')}}" class="rounded-circle mt-3" style="filter: drop-shadow(0 0 0.75rem #2e2a39);">
                <h3 class="mt-1">tommyinnitalt</h3>
                <a href="https://www.twitch.tv/tommyinnitalt" class="external-link">Twitch</a>
                <p class="m-2" style="font-size: 14px;">
                    "being a big man and hanging out"
                </p>
                <p class="ml-3 mr-3" style="padding-bottom: 10px;">
                    An alt Twitch channel for chill streams. Tom
                    typically stream Animal Crossing here.
                </p>
            </div>
        </div>
    </div>
    
    <div class="ribbon" style="background-color: #acccc6; position: inherit;"></div>
    <div class="ribbon" style="background-color: #5a7876; position: inherit;"></div>
</body>
{% endblock content %}