{% extends "bases/base_home.html" %}
{% block content %}
<body id="Content">
    <div style="height: 388px; width: 100%;">
        <div class="container-fluid content-bg-img"></div>
        <div class="container-fluid home-bg-text text-center">
          <h1 class="home-title" style="color:#FFF8C1;">CHANNELS</h1>
        </div>
    </div>
    <div style="height: 100px">
        <div class="ribbon" style="background-color: #5a7876; top: 469px;"></div>
        <div class="ribbon" style="background-color: #acccc6; top: 519px;"></div>
    </div>

    <div class="box-content">
        <div class="mt-5 mr-3 ml-4 inner-box">This is a paragraph about the different channels tommyinnit has</div>
    </div>
    <div class="box-content" style="position:absolute; left:33%;">
        <div class="mt-5 mr-3 ml-3 inner-box">This is a paragraph about the different channels tommyinnit has</div>
    </div>
    <div class="box-content" style="position:absolute; left:66%;">
        <div class="mt-5 mr-4 ml-3 inner-box">This is a paragraph about the different channels tommyinnit has</div>
    </div>
</body>
{% endblock content %}