

{% extends "bases/base_home.html" %}
{% block content %}
<body id="Home">
  <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='scripts/message_randomizer.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='scripts/xbMarquee.js')}}"></script>
  
  
  <!-- home color palette: https://www.color-hex.com/color-palette/7163 -->
  <div style="height: 388px">
    <div class="container-fluid home-bg-img"></div>
    <div class="container-fluid home-bg-text text-center">
      <h1 class="home-title">WELCOME TO TOMPLUS</h1>
      <h3 class="text-uppercase home-title" id="home-message"></h3>
      <div>
        <a class="m-2 home-link" href="#">Join the Discord</a>
        <a class="m-2 home-link" href="#">NFT Collection</a>
      </div>
    </div>
  </div>
  <div style="height: 181px">
    <div class="ribbon" style="background-color: #f0ccb8; top:469px;"></div>
    <div class="ribbon" style="background-color: #acccc6; top: 559px;"></div>
    <div class="scroll-container below-ribbon">
      <div class="marquee">
        <div class="text">Welcome to TomPlus! Enjoy your stay in the most quality website.</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="box" style="background-color: #5a7876;">
      <h1 class="mt-5 ml-4 mr-4 mb-3" style="color: #eee5d5; display: inline-block;">Feeling bored? Watch a Video!</h1>
      <div class="vb-container">
        <div class="row"> <button class="btn mb-3 video-button col-md-12" id="surprise-me">Surprise Me!</button> </div>
        <div class="row"> <button class="btn mb-3 video-button col-md-12" id="main-channel">Main Channel</button> </div>
        <div class="row"> <button class="btn mb-3 video-button col-md-12" id="vlog-adventures">Vlog Adventures</button> </div>
        <div class="row"> <button class="btn mb-3 video-button col-md-12" id="twitch-vods">Twitch VODs</button> </div>
      </div>
    </div>
    <div class="box" style="left: 50%;">
      <div class="video-box">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1Z1bvTYKNUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      </div>
    </div> 
  </div>
  <div class="row">
    
  </div>
  
</body>
    
{% endblock content %}