{% extends "bases/base.html" %}
{% block content %}
    <h1>Ideas</h1>
    <p>Based on what people think is an arg from Tommy. This means the phones.</p>
    <p>Can put an interactive ringing phone on the page, which plays audio that hides a message when clicked. Message leads to the next puzzle.</p>
    <p>The arg is sent by the phone guy (same one from Wilbur in the Tubbo Halloween stream, and his landlord)</p>
    <p>Essentially a series of puzzles that lead to the corpse of someone in the ground outside Tubbo's place and in the walls of the apartment.
        The asbestos in his apartment is present because while going through the wall in unearthed the asbestos.
    </p>
    <p>Supposedly whoever is on the phone gives commands that Tommy has to follow.</p>
{% endblock content %}