{% extends "bases/base.html" %}
{% block content %}
    <body style="background-color: #eee5d5;">
        <div style="position: absolute; top: 75px; height:10px; width:100%; background-color: #9D5353;"></div>
        <div style="height:40px; width:100%; background-color: #9D5353;"></div>
        <div style="height:40px; width: 100%; background-color: #9E7777;"></div>
    
        <h1 class="m-2" style="color: #4b333d; text-align: center; font-family: Montserrat;">Joining the Exclusive Discord</h1>
        <div style="width: 100%; height: 140px">
            <!-- <div class="container-fluid" style="background-color: #36393e; height: 100px; width: 50%; left:25%; position:absolute; top: 225px; "></div> -->
            <div class="shadow-banner container-fluid" style="background-color: rgb(112, 76, 92, 0.75);">
                <p style="color:antiquewhite; font-size: 15pt; width: 25em; left:50%;">
                    make sure the twitch account
                    you're subscribed on is linked to your discord account
                    (via discord connections in user setttings)
                </p>
            </div>
        </div>
        <div style="height:fit-content; width: 100%; text-align: center;">
            <img src="{{ url_for('static', filename='site_images/discord_step_1')}}">
        </div>
        <!-- <div class="container-fluid" style="background-color: #36393e; height: 330px; width: 50%; left:25%; filter: contrast(75%); position:absolute; top: 450px; z-index: 4;"></div> -->
        <div class="shadow-banner container-fluid" style="background-color: rgb(112, 76, 92, 0.75); top:590px;">
            <p style="color:antiquewhite; font-size: 15pt; width:75%;">
                once connected under the twitch bit in the connections section
                there should be an option to join the Tommyinnit sub server.
                (it might take a few hours after subbing for discord to show)
            </p>
        </div>
        <div style="height:fit-content; width: 100%; text-align: center;">
            <img src="{{ url_for('static', filename='site_images/discord_step2.jpg')}}">
        </div>
    </body>
{% endblock content %}