<!DOCTYPE html> 
<html> 
    <head>  
      <!-- from getbootstrap.com -->
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}">

      {% if title %}
      <title>TOM+ : {{ title }}</title>
      {% else %}
          <title>TOM+</title>
      {% endif %}
    </head>
    <body>
      <!-- Thinking of having a row above the tabs for some breathing room
        the space could contain a scrolling message bar that says something? -->

      <!-- Header -->
      <header class="site-header">
        <nav class="navbar navbar-default navbar-expand-md fixed-top" style="background-color:#FF1919;">
          <div class="container-fluid">
            <div class="navbar-header navbar-left">
              <a class="navbar-brand" href="{{ url_for('main.home') }}">
                <img class="banner-image" alt="Brand" src="{{ url_for('static', filename='site_images/TOM_logo_3.png') }}">
              </a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </nav>
      </header>
      
      <!-- Alerts -->
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </main>

      <!-- Faux header -->
        <a class="col-md-3 selection-tab btn btn-default br-0" href="{{ url_for('main.home') }}" 
        id="Home">HOME</a>
        <a class="col-md-3 selection-tab btn btn-default br-0" href="{{ url_for('main.announcements') }}" 
        id="Announcements">ANNOUNCEMENTS</a>
        <a class="col-md-3 selection-tab btn btn-default br-0" href="{{ url_for('main.content') }}"
        id="Content">CONTENT</a>
        <a class="col-md-3 selection-tab btn btn-default br-0" href="{{ url_for('main.about') }}"
        id="About">ABOUT</a>

      <!-- Tabs -->
      <div id="Home" class="tab-content">
        <!-- <div class="higher">
            <p>
                This is the home page.
                God no, comic sans is such an awful font.
            </p>
        </div>   -->
      </div>
      <div id="Announcements" class="tab-content">
      </div>
      <div id="Content" class="tab-content">
        <!-- <div class="higher">
            <p>This is a content page!</p>
        </div>  -->
      </div>
      <div id="About" class="tab-content">
        <!-- <div class="higher">
          <p>This is the about page!</p>
        </div> -->
      </div>

      {% block content %}{% endblock %}
  
      <!-- Optional JavaScript from getbootstrap.com-->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
      <script>
        function openPage(pageName, elm, color) {
            var i, selectionTab;

            selectionTab = document.getElementsByClassName("selection-tab")
            for (i = 0; i < selectionTab.length; i++){
                selectionTab[i].style.backgroundColor = "";
            }
            elm.style.backgroundColor = color;
        }
        // get element w/ id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
  </body>
</html>